[Unit]
Description=Load wifi module for pyramid
After=vendor-firmware-misc.mount vendor-firmware-adsp.mount connman.service

[Service]
Type=oneshot
Exec=/sbin/modprobe bcmdhd

[Install]
WantedBy=user@100000.service
